/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
$desktop-width: 1199px;
$laptop-width: 991px;
$ipad-width: 768px;
$note-width: 480px;
$galaxy-width: 360px;
$iphone-width: 320px;

@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}
@mixin laptop {
	@media (max-width: #{$laptop-width}) {
		@content;
	}
}
@mixin ipad {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}
@mixin note {
	@media (max-width: #{$note-width}) {
		@content;
	}
}
@mixin galaxy {
	@media (max-width: #{$galaxy-width}) {
		@content;
	}
}
@mixin iphone {
	@media (max-width: #{$iphone-width}) {
		@content;
	}
}

/* END */

/* GLOBAL */
body {
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	color: black !important;
}
p {
	font-weight: 200;
	font-size: 15px;
}
@font-face {
    font-family: nexabold;
    src: url(fonts/nexa-bold.oft);
}
section {
	@include ipad {
		padding: 50px 0;
	}
}
.col-md-6, .col-md-12, .col-xs-12 {
	@include ipad {
		padding-bottom: 30px;
	}
}
/* END GLOBAL */

nav {
	margin-top: 10px;
}

.navbar-default.affix {
	margin-top: 0px;
}

.navbar-default .navbar-header .navbar-brand {
	color: white;
	font-weight: bold;
	@include ipad {
		color: red;
	}
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
	color: white;
	font-weight: bold;
}
.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
	color: red !important;
}
.navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {
	color: black;
	&:hover {
		color: black;
	}
}

.navbar-default.affix .navbar-header .navbar-brand {
	color: red;
	font-weight: bold;
	&:hover {
		color: red;
	}
}

.header-content-inner {
	h1 {
		font-weight: bold;
		font-family: raleway;
		font-size: 80px !important;
		margin-left: -4px;
	}
	h2 {
		margin-top: -30px;
		font-family: raleway;
	}
}

header {
	background: red;
	border-bottom: 10px solid white;
}

.we-are-trisquare {
	h1 {
		font-size: 55px;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: raleway;
		margin-bottom: 0px;
	}
	h3 {
		color: red;
		font-weight: bold;
		font-family: raleway;
		margin-top: 1px;
		font-size: 55px;
	}
	@include ipad {
		display: none;
	}
}

.about-below {
	margin-top: 50px;
	.about-left {
		text-align: right;
		@include ipad {
			text-align: center;
		}
	}
	.about-right {
		text-align: left;
		h3 {
			font-weight: bold;
		}
	}
	h2 {
		margin-bottom: 0px;
		margin-top: 0px;
		@include ipad {
			font-size: 40px;
		}
	}
	.about-bottom-p {
		font-size: 40px;
		line-height: 43px;
		color: red;
		@include ipad {
			font-size: 18px;
			line-height: 28px;
		}
	}
}

.full-row {
	background: red;
	margin-left: -10px;
	margin-right: -10px;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	h2 {
		font-family: raleway;
		font-weight: bold;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.btn-ts {
	color: black;
	font-weight: bold;
	font-family: raleway;
	padding: 0px;
	&:hover {
		color: red;
	}
}

.bio-name {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 3px;
	font-size: 17px;
}
.bio-title {
	text-align: center;
	font-style: italic;
	margin-bottom: 3px;
}

.contact {
	border: 10px solid red;
	margin-bottom: 50px;
}

.animateBounce {
	&:hover {
		-webkit-animation: bounce 1s infinite;
    	animation: bounce 1s infinite;
	}
}

.animatePulse {
	&:hover {
		-webkit-animation: pulse 1s infinite;
    	animation: pulse 1s infinite;
	}
}

.animateBand {
	&:hover {
		-webkit-animation: rubberBand 1s infinite;
    	animation: rubberBand 1s infinite;
	}
}

.animateShake {
	&:hover {
		-webkit-animation: shake 1s infinite;
    	animation: shake 1s infinite;
	}
}



#particles-js {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: transparent !important;
}







